/*Styles*/

@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

html, body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p,input,label {
	font-family: 'Lato', sans-serif;
}

header {
	background-color: #fff;
	height: 400px;
	text-align: center;
	padding: 1rem;
}

header h1 {
	color: #7f8c8d;
}

header h2 {
	color: #7f8c8d;
}

.container {
	max-width: 1024px;
	margin: auto;
	text-align: center;
}

.warning {
	background-color: #e67e22;
	color: #fff;
	border: 1px solid #d35400;
	padding: 5px 10px;
	border-radius: 3px;
}

input {
	width: 100%;
	border-radius: 3px;
	padding: 5px 10px;
	border: 1px solid #ccc;
}